* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth; /* Links will scroll smoothly to the target content, instead of instantly jumping to it */
  scrollbar-color: rgb(98, 150, 201) rgb(3, 17, 82); /* Set scrollbar color to match theme of website */
  color: #d4d0d0;
}

@media screen and (max-width: 800px) {
  #preloader {
    background-size: 35% !important;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    font-size: 13px;
  }
}

@media screen and (max-width: 719px) {
  .nav-logo {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .wonderland-logo {
    top: 60% !important;
  }
}

@media screen and (max-width: 480px) {
  .event-title,
  .gallery-title,
  .booking-title {
    font-size: 25px !important;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 1600px) {
  .event-image {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .event-text {
    font-size: 100% !important;
  }
}

@media screen and (min-width: 1601px) {
  .event-title {
    position: absolute;
    top: 25%;
  }
}

@media screen and (max-width: 680px) {
  .slider-nav {
    column-gap: 0.5rem !important;
    bottom: 8.25% !important;
  }
}

@media screen and (max-width: 480px) {
  .slider-nav a {
    width: 0.75rem !important;
    height: 0.75rem !important;
  }
}
@media screen and (min-width: 481px) and (max-width: 820px) {
  .slider-nav a {
    width: 1.35rem !important;
    height: 1.35rem !important;
  }
}

.bg {
  position: absolute;
  pointer-events: none; /* required so that links can be clicked without background interfering */
  background-image: url(images/testbg.png);
  background-size: cover;
  z-index: 2;
}

hr {
  color: rgb(134, 0, 0);
  border: 0.3vw solid rgb(134, 0, 0);
}

.navbar {
  overflow: hidden; /* Hide overflowing elements in navbar */
  position: fixed; /* Define a fixed position so user can always navigate the site easily regardless of where they are */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Set the width to 100% so the navbar takes up the entire horizontal length of the page */
  z-index: 3; /* Set z-index value higher than all other elements to prevent other elements overlapping with navbar */
}

.nav-logo {
  float: right;
  height: 40px;
  padding: 0.2%;
}

.navbar ul {
  background: rgb(23, 185, 237);
  background: radial-gradient(
    circle,
    rgba(23, 185, 237, 1) 0%,
    rgba(34, 44, 176, 1) 100%
  );
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: rgb(168, 49, 49);
}

img {
  max-width: 100%; /* Seting width to 100% on images by default makes them responsive across different screen sizes */
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.wrapper {
  display: grid;
  position: relative;
  align-items: center;
  justify-items: center;
}

.winter-video {
  width: 100%; /* Video will take up 100% horizontal width */
  height: auto; /* Height will automatically adjust to suit screen size */
  z-index: 0; /* z-index at 0 so that other elements like logos can appear above video */
  overflow-y: hidden;
}

.wonderland-logo {
  width: 60%;
  position: absolute; /* Position of the logo is absolute relative to the container: meaning it will always be in the same position regardless of screen size */
  z-index: 1; /* z-index value is greater than the background video so that it appears on-top of it */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.event-info {
  background: rgb(23, 40, 237);
  background: linear-gradient(
    180deg,
    rgba(23, 40, 237, 1) 0%,
    rgba(23, 91, 237, 1) 100%
  );
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  z-index: 0;
}

.info-bg {
  pointer-events: none; /* required so that links can be clicked without background interfering */
  background-image: url(images/bg10.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.12; /* To give the illusion of a subtle background animaton */
  z-index: 0; /* Position it on top of other elements, so the animation is visible */
}

.snowflakes {
  pointer-events: none; /* required so that links can be clicked without background interfering */
  background-image: url(images/snowflake4.gif);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.04; /* To give the illusion of a subtle background animaton */
  z-index: 1; /* Position it on top of other elements, so the animation is visible */
}

#event-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  margin-top: 2%;
}

.event-title {
  border-bottom: 3px solid black;
  font-size: 3.5vw;
}

.event-content {
  display: flex;
  align-items: center;
  margin-bottom: 7.5%;
}

.event-image {
  position: relative;
  width: 25%;
  height: auto;
  margin-right: 2%;
}

.event-text {
  position: relative;
  width: 100%;
  font-size: 22px;
}

.gallery {
  background: rgb(23, 91, 237);
  background: linear-gradient(
    180deg,
    rgba(23, 91, 237, 1) 0%,
    rgba(34, 44, 176, 1) 100%
  );
  position: relative;
}

.gallery-bg {
  pointer-events: none; /* required so that links can be clicked without background interfering */
  background-image: url(images/custom.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.08; /* To give illusion of subtle background animation */
  z-index: 0; /* This time we make sure the index is lower than the gallery index, as we dont want the animation overlapping with the images */
}

.gallery-background {
  pointer-events: none; /* required so that links can be clicked without background interfering */
  background-image: url(images/snowflake4.gif);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.04; /* To give illusion of subtle background animation */
  z-index: 1; /* This time we make sure the index is lower than the gallery index, as we dont want the animation overlapping with the images */
}

#gallery-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-title {
  margin-top: 5%;
  border-bottom: 3px solid black;
  font-size: 3.5vw;
  z-index: 2;
}

.image-container {
  padding: 10%;
  margin-top: -5%;
}

.slider-wrapper {
  position: relative;
  max-width: 100%; /* images inside the slider will always be at their max-width */
  margin: 0 auto;
  z-index: 2;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9; /* always maintain this aspect ratio */
  overflow-x: hidden; /* hide overflowing elements on the x-axis */
  scroll-snap-type: x mandatory; /* forces snap when scrolling through the images, meaning it will snap back to whatever image the user is on when they stop scrolling, and will never be 'in-between' two images */
  scroll-behavior: smooth; /* smoothens the scroll-speed */
  border: 0.2rem solid black; /* adds border around gallery slider */
  border-radius: 5.5%; /* makes the border curved */
}

.slider img {
  flex: 1 0 100%; /* 1 - each image in container will be set to equal size, 0 - every image will retain the width it needs and not wrap the content, 100% - all images will take up the entire parent container */
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 0.8rem; /* add some spacing between each circle */
  position: absolute;
  bottom: 6.25%; /* position the circles slightly higher than the bottom of the slider */
  left: 50%; /* center the circles */
  transform: translate(-50%); /* center the circles */
  z-index: 2; /* increase z-index so the circles appear on-top of the images */
}

.slider-nav a {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: rgb(168, 49, 49);
  opacity: 0.75; /* appear slightly dimmer when not hovered */
  transition: opacity ease 250ms; /* further smoothes the transition of opacity with a very slight delay */
}

.slider-nav a:hover {
  opacity: 1; /* max opacity when hovered */
}

input[type="text"],
select {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(23, 40, 237);
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: rgb(9, 21, 185);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(7, 38, 105);
}

.booking-container {
  background: rgb(34, 44, 176, 1);
  background: linear-gradient(
    180deg,
    rgba(34, 44, 176, 1) 0%,
    rgb(24, 71, 201) 100%
  );
  padding: 5% 30%;
  position: relative;
  z-index: 1;
}

.booking-bg {
  pointer-events: none; /* required so that links can be clicked without background interfering */
  background-image: url(images/bg11.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15; /* To give illusion of subtle background animation */
  z-index: 0;
}

.booking-background {
  pointer-events: none; /* required so that links can be clicked without background interfering */
  background-image: url(images/snowflake4.gif);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.04; /* To give illusion of subtle background animation */
  z-index: 0;
}

#booking-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-title {
  position: relative;
  border-bottom: 3px solid black;
  font-size: 3.5vw;
  margin-bottom: 25%;
  z-index: 1;
}

#fname,
#lname,
#email,
#admission {
  position: relative; /* Position needs to be set in order for the z-index to work */
  background-color: rgb(24, 130, 201);
  z-index: 1;
}

::placeholder {
  color: white; /* changes text color of input fields */
}

/*
#preloader {
  background: #000 url(images/preload.gif) no-repeat center center; /* black background, our preload gif, no repeats, and centered both horizontally and vertically */
  background-size: 15%; /* Adjust the size to suit the gif & screen size */
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10; /* Set the z-index of the pre-loader animation higher than everything else, so it appears above all other elements */
}
*/
